<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Ecomm</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        {% if user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link {% if request.path == '/profile/' %}active{% endif %} " href="{% url 'profile' %}">Profile</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>

        {% else %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
        {% if catagories %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Catagories
          </a>
          <ul class="dropdown-menu">
            {% for cat in catagories %}
            <li><a href="{% url 'category_page' cat.slug %}" class="dropdown-item" href="#">{{ cat.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% if user.is_vendor %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Seller Dashboard</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register_shop' %}">Become Seller</a>
        </li>
        {% endif %}
      </ul>
      <form class="d-flex" role="search" action="{% url 'search' %}">
        <input
          class="form-control me-2"
          type="search"
          name="q"
          placeholder="Search"
          aria-label="Search"
          value="{{ request.GET.q }}"
          autocomplete="off"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

        <a href="{% url 'cart' %}" class="btn mx-2 btn-outline-dark">
          <i class="bi-cart-fill me-1"></i>
          Cart
          <span class="badge bg-dark text-white ms-1 rounded-pill">{{ request.session.cart.cart_count }}</span>
        </a>

    </div>
  </div>
</nav>
